.teams-container{
    display: flex;
    justify-content: center;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif ;
    /* border: 1px solid lightgray; */
    padding: 5px;
    cursor: pointer;
    margin: 0 65px;
    flex-direction: column;
}

.team-Container{
    border: 1px solid lightgray;
    /* width: 75%; */
    text-align: center;
    /* padding-bottom: 2rem; */
}

.team-details-container{
    border: 1px solid lightgray;
    margin-top: 3px;
    text-align: center;
    padding: 5px;
    
}

