.navigation-container{
   text-decoration: none;
   display: flex;
   gap:2rem ;
   background-color: lightblue;
   /* justify-content: center; */
   height: 3rem;
   align-items: center;
   font-family: Arial, Helvetica, sans-serif;
   
}

.lists{
    display: flex;
    list-style: none;
    gap: 1rem;
    

}

.lists .Links{
    text-decoration: none;
    color: black;
}